/*
*   Ipads,Tablets,Mobile devices
*/
@media screen and (width <=768px) {

    .logo,
    .basket {
        display: none;
    }

    .home-join {
        display: none;
    }

    .header-nav {
        display: flex;
        flex-direction: column;
        height: 350px;
    }

    .header-nav-title {
        margin-bottom: 25px;
        margin-right: 0;
    }

    .toggler {
        display: block;
    }

    .nav-links {
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    .home-text {
        display: none;
    }

    .welcome-text {
        font-size: 1rem;
    }

    .home-img {
        flex-direction: column;
        width: 100%;
    }

    .home-img img {
        width: 100%;
    }

    .cards {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .join-text {
        width: 100%;
        font-size: 40px;
    }

    .benefits-text h2 {
        font-size: 40px;
        letter-spacing: 20px;
    }

    .about-img {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        margin: 10px;
        padding: 10px;
    }

    .about-img div {
        margin: 15px;
    }

    .about-img div img {
        width: 100%;
    }

    .contact-text {
        margin: 0;
        padding: 0;
    }

    .contact-info {
        padding: 0;
        margin: 0
    }
}

/*
* Desktop,large screens
*/

@media screen and (width <=1200px) {}

/*
* Extra large screens
*/

@media screen and (width > 1200px) {}