* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.toggler {
    display: none;
}

header {
    margin-bottom: 15px;
}

.container {
    max-width: 100%;
    width: 1440px;
}

.header-container {
    margin: auto;
}

.header-nav {
    display: flex;
    height: 70px;
    align-items: center;
    font-size: 24px;
    justify-content: space-between;
    box-shadow: 0px 7px 9px 0px rgba(0, 0, 0, 0.25);

}


.header-nav-title {
    border-radius: 23.5px;
    padding: 8px 28px;
    border: 1px solid #000;
    margin-right: 20px;
}

.header-nav-title:hover {
    background-color: #adada8;
    color: #FFF;
    transition: all 1s ease;
}



header h4 {
    width: 193px;
    height: 55.319px;
    color: #40413B;

    font-size: 55px;
    ;
    letter-spacing: 2.75px;
    margin-left: 13px;

}

header img {
    width: 55px;
    margin-right: 15px;
    color: #FFF;
    font-size: 30px;
    border: 1px solid #000;
    background: #C5C798;
}

.selected {
    background-color: #adada8;
    color: #FFF;
}



.hero-imgs {
    width: 100%;
    display: flex;
    position: relative;

}

.hero-imgs>img {
    width: 50%;

}

.home-text {
    width: 1223px;
    color: #40413B;
    text-align: center;
    font-size: 55px;
    line-height: 130%;
    letter-spacing: 5.5px;
    position: absolute;
    top: 15%;
    font-size: 60px;
    left: 50%;
    transform: translate(-50%, 0);
    text-align: center;

}

.home-join {

    color: #40413B;
    text-align: center;
    font-size: 35px;
    line-height: 139%;
    letter-spacing: 1.05px;
    position: absolute;
    top: 45%;
    font-size: 60px;
    left: 50%;
    transform: translate(-50%, 0);
    text-align: center;
    stroke-width: 2px;
    stroke: #40413B;

}

.welcome-text {

    color: #40413B;
    text-align: center;
    font-family: Sinhala MN;
    font-size: 96px;
    line-height: 139%;
    letter-spacing: 9.6px;
    margin: 50px;
}

.text {
    text-align: center;
    color: #8d8787;

}

.text-text {
    letter-spacing: 9.6px;
    text-align: center;
    color: #8d8787;
    padding: 50px;

}

.home-img {
    display: flex;
    align-items: center;
    justify-content: center;



}

.home-img1 {
    background: lightgray 50% / cover no-repeat;
    border: 2px solid #FFF;
    padding: 10px;
    margin: 40px;
}

.home-img2 {
    background: lightgray 50% / cover no-repeat;
    border: 2px solid #FFF;
    padding: 10px;

}

.cards-container {
    width: 100%;
    padding: 0 10px;
    display: flex;
    flex-wrap: wrap;
}

.card {
    display: flex;
    flex-direction: column;
    width: 580px;
    margin-bottom: 30px;

}

.card>img {
    max-width: 582px;
    width: 100%;
    height: 580px;
}

.card>.description {
    width: 100%;
    text-align: center;
    font-size: 25px;
    margin-bottom: 45px;
}

.card>.description>.text {
    color: #000;
}

.card>.description>.number {
    color: #E19B81;
}

.card>button {
    border-radius: 11px;
    background: #E19B81;
    width: 308px;
    height: 70px;
    margin: auto;
    font-size: 21px;
    color: #FFF;
    cursor: pointer;
}

.product-animation {
    background-color: #E19B81;
    transition: all 0.5s ease;
}

.product-animation:hover {
    width: 150px;
    background-color: #4b3730;

}

.main-text-text {
    width: 308px;
    height: 67px;
    border-radius: 11px;
    background: #E19B81;
    margin: 0 auto;
}

.main-text-text span {
    width: 264px;
    height: 24px;
    color: #FFF;
    text-align: center;
    font-family: Sinhala MN;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 157.187%;
    text-transform: capitalize;
}

.main-text {
    width: 264px;
    height: 33px;
    color: #000;
    text-align: center;

    font-size: 25px;

    line-height: 157.187%;
    text-transform: capitalize;
    margin: 0 auto;
}

.benefits {
    position: relative;
}

.benefits-img {
    width: 100%;
}

.benefits-text {
    position: absolute;
    top: 50%;
    width: 100%;
}

.benefits-text h2 {
    font-size: 250px;
    letter-spacing: 110px;
    color: #40413B;
    text-align: center;
    width: 100%;
}

.join {
    position: relative;
}

.join-img {
    width: 100%;
}

.join-text {
    position: absolute;
    top: 15%;
    font-size: 60px;
    left: 50%;
    transform: translate(-50%, 0);
    width: 810px;
    text-align: center;
}


.membership-text {
    width: 100%;
    padding: 120px 0 100px 0;

}

.membership-text>p {
    width: 80%;
    margin: auto;
    text-align: center;
    color: #40413B;
    letter-spacing: 7.5px;
    font-size: 50px;
}

.membership-img {

    height: 1286px;
    padding-top: 222px;

}



.join-btn {
    border-radius: 14px;
    border: 2px solid #40413B;
    box-shadow: 0px 14px 24px 0px rgba(0, 0, 0, 0.18);
    padding: 21px 55px;
    color: #40413B;
    font-family: Sinhala MN;
    font-size: 30px;
    letter-spacing: 17.7px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    bottom: 25%;
    cursor: pointer;
}

.about-text {
    width: 80%;
    margin: auto;
    text-align: center;
    color: #000;
    font-size: 45px;
    letter-spacing: 2.25px;
    padding: 120px 0 60px 0;

}

.about-img {
    display: flex;
    justify-content: space-between;
    margin: 40px;

}

.about-img img {

    border-radius: 11px;
    background: #FFF;
    box-shadow: 0px 7px 8px 0px rgba(0, 0, 0, 0.25);
}



.contact-text {
    color: #3b3a3a;
    text-align: center;
    font-size: 50px;
    line-height: 142.188%;
    letter-spacing: 5px;
    padding: 159px 14px 170px 90px;

}


.contact-text-text {
    color: #000;
}

.contact-info p {

    color: #FFF;
    text-align: center;
    font-size: 35px;
    line-height: 143.187%;
    padding: 30px;
    border-radius: 16px;
    background: #E19B81;
    box-shadow: 0px 10px 10px 1px rgba(0, 0, 0, 0.15);
    margin-bottom: 50px;


}

.contact-info {
    margin: 280px;

}